
        body {
            font-family: 'Times New Roman', Times, serif;
            margin: 0 auto;
            padding: 0;
            max-width: 1280px;
            box-sizing: border-box;
            
        }

        header {
            text-align: center;
            height: 66px;
            max-width: 1280px;
            position: relative;
        }

        header h1 {
            margin: 0;
            background-color: rgba(10, 149, 214, 0.783);
            border-radius: 5px;
            height: 55px;
            color: rgb(174, 236, 247);
            text-shadow: 1px 1px 2px rgb(22, 21, 21);
        }

        nav.menu {
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #e9f1f9;
            border-radius: 6px;
            display: flex;
            gap: 15px;
            padding: 6px 20px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        }

        nav.menu div {
            color: #0a4d7a;
            font-size: 14px;
            cursor: pointer;
            transition: 0.3s;
        }

        nav.menu div:hover {
            color: #e67e22;
        }
        
        nav.menu div.active { 
            color: #e67e22;
        }

        footer {
            background-color: #deb96a;
            color: white;
            height: 33px;
            border-radius: 6px;
            padding: 10px 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        footer p {
            margin: 0;
            font-weight: bold;
        }

        footer nav.menu {
            position: static;
            display: flex;
            background: transparent;
            justify-content: space-between;
            box-shadow: none;
            gap: 15px;
        }

        footer nav.menu div {
            color: white;
            font-weight: bold;
        }

        footer nav.menu div.active {
            color: white;
            background-color: #f5923b;
            text-decoration: underline;
        }

        .container {
            display: flex;
            gap: 10px;
            padding: 10px;
            min-height: calc(100vh - 60px);
        }
        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        main {
            border: #083553 1px solid;
            flex: 1;
            min-height: 300px;
        }
        
        .drag-and-drop {
            border: #083553 1px solid;
            margin-top: 10px;
            display: flex;
            flex: 1;
            flex-direction: column;
           
        }
        .drag-header{
            position: relative;
            display: flex;
            align-items: center;
            background-color: #14678d;
            color: white;
            padding: 8px 12px;
        }
 
        .drag-header h2 {
            margin: 0;
        }
        .add-items {
            display: flex;
            align-items: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            gap: 8px;
        }
        .chosen-item {
            font-size: 1.5em;
            border: 1px solid #ccc;
            border-radius: 6px;
            padding: 4px 8px;
            cursor: pointer;
        }
        .add-button {
            background-color: #085b87;
            border: none;
            border-radius: 20px;
            color: white;
            padding: 5px 12px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .add-button:hover {
            background-color: #81b3cd;
        }

        .sidebar {
            width: 256px; 
            background-color: #fff;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 5px;

        }   
        .news {
            background-color: #ffffff;
            border-radius: 6px;
            box-shadow: 0 2px 4px rgba(223, 106, 48, 0.2);
            overflow: hidden;
        }
        .news h2 {
            background-color: #f3c6a0;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            color: white;
            padding: 10px;
            margin: 0;
            border-radius: 6px 6px 0 0;
            position: relative; 

        }
        .icon {
            cursor: pointer;
            position: absolute;
            left: 10px;
            margin-right: 8px;
            font-size: 14px;
        }


        .news p {
            display: none;
            color: #41b2ea;
        }
        .news.open h2{
            background-color: rgb(232, 157, 58);
        }
        .drag-handle {
            position: absolute;
            right: 8px;
            top: 10px;
            cursor: grab;
            font-size: 18px;
            user-select: none;
        }

       .hover-target {
            box-shadow: 0 0 10px rgba(74,144,226,0.6);
        }
        .box-items {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;
            padding: 10px;
        }
        .item {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: grab;
            transition: all 0.2s ease;
          
        }
        .item:hover {
            transform: scale(1.05);
        }
.emoji-box {
  background: linear-gradient(to bottom, #3b7dd8, #2563a8);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  width: 150px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}

.name {
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #083553;
  text-align: center;
}
.placeholder {
  width: 150px;
  height: 90px;
  border: 2px solid #c5c1ba;
  border-radius: 6px;
}
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #1a68b5;
    color: white;
}
.input-area {
    display: flex;
    align-items: center;
    gap: 10px;
}
.settings {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}
.result-settings {
    border: 1px solid #efefed;
    background-color: #d8e429;
}
button {
    background-color: #0a4d7a;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 5px 12px;
}
.format-settings {
    display: none;
    position: absolute;
    top: calc(100% + 20px);
    left: 30%;
    background: #b6d4f1;
    border-radius: 5px;
    min-width: 150px;
    color: #085b87;
    z-index: 100;

}
.format-settings div{
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  gap: 5px;
}
.sample-text {
   display: flex;
   align-items: center;
   gap: 8px;
   color: #000000;
}
.color-sample {
    width: 35px;
    height: 20px;
    border: 3px solid #fefefe;
    background-color: #d8e429;
}
.output-area {
    padding: 10px;
}
