        body {
            font-family: Arial, sans-serif;
            margin: 0 auto;
            padding: 0;
            max-width: 1280px;
            box-sizing: border-box;
        }

        header {
            text-align: center;
            height: 66px;
            max-width: 1280px;
            position: relative;
        }

        header h1 {
            margin: 0;
            background-color: rgba(10, 149, 214, 0.783);
            border-radius: 5px;
            height: 55px;
            color: rgb(174, 236, 247);
            text-shadow: 1px 1px 2px rgb(22, 21, 21);
        }

        nav.menu {
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #e9f1f9;
            border-radius: 6px;
            display: flex;
            gap: 15px;
            padding: 6px 20px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        }

        nav.menu div {
            color: #0a4d7a;
            font-size: 14px;
            cursor: pointer;
            transition: 0.3s;
        }

        nav.menu div:hover {
            color: #e67e22;
        }
        
        nav.menu div.active { 
            color: #e67e22;
        }

        main {
            margin-top: 40px;
            text-align: center;
        }

        footer {
            background-color: #deb96a;
            color: white;
            border-radius: 6px;
            margin-top: 40px;
            padding: 10px 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        footer p {
            margin: 0;
            font-weight: bold;
        }

        footer nav.menu {
            position: static;
            display: flex;
            background: transparent;
            justify-content: space-between;
            box-shadow: none;
            gap: 15px;
        }

        footer nav.menu div {
            color: white;
            font-weight: bold;
        }

        footer nav.menu div.active {
            color: white;
            background-color: #f5923b;
            text-decoration: underline;
        }

        .container {
            display: flex;
            justify-items: row;


        }
        main {
           flex: 1;
        }
        .sidebar {
            width: 256px; 
            background-color: #fff;
            border-left: 2px solid #ccc;
        }   
        .news {
            background-color: #ffffff;
            border-radius: 6px;
            box-shadow: 0 2px 4px rgba(223, 106, 48, 0.2);
        }
        .news h2 {
            background-color: #f5923b;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            color: white;
            padding: 10px;
            margin: 0;
            border-radius: 6px 6px 0 0;
        }