        body {
            font-family: Arial, sans-serif;
            margin: 0 auto;
            padding: 0;
            max-width: 1280px;
        }

        header {
            background: linear-gradient(to bottom, #5da8e0, #74b5e8);
            border-radius: 8px;
            padding-top: 8px;
            text-align: center;
            height: 66px;
            position: relative;
            color: #033b6b;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        header h1 {
            margin: 0;
            letter-spacing: 2px;
            color: rgb(177, 225, 234);
            text-shadow: 1px 1px 2px rgb(58, 53, 53);
        }

        nav.menu {
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #e9f1f9;
            border-radius: 6px;
            display: flex;
            gap: 15px;
            padding: 6px 20px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        }

        nav.menu div {
            color: #0a4d7a;
            font-size: 14px;
            cursor: pointer;
            transition: 0.3s;
        }

        nav.menu div:hover {
            color: #e67e22;
        }
        
        nav.menu div.active { 
            color: #e67e22;
        }

        main {
            margin-top: 40px;
            text-align: center;
        }

        footer {
            background-color: #deb96a;
            color: white;
            border-radius: 6px;
            margin-top: 40px;
            padding: 10px 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        footer p {
            margin: 0;
            font-weight: bold;
        }

        footer nav.menu {
            position: static;
            display: flex;
            background: transparent;
            justify-content: space-between;
            box-shadow: none;
            gap: 15px;
        }

        footer nav.menu div {
            color: white;
            font-weight: bold;
        }

        footer nav.menu div.active {
            color: white;
            background-color: #f5923b;
            text-decoration: underline;
        }
